Source: wcc
Section: utils
Priority: optional
Maintainer: Lenik <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, cargo, rustc, pandoc, git
Standards-Version: 4.6.2
Homepage: https://github.com/lenik/wcc
Rules-Requires-Root: no

Package: wcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Source code statistics counter
 A Rust CLI tool to count lines of code, words, chars, and bytes for source files and directories.
