#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/sourcelines
prefix=/usr
bindir=$(prefix)/bin
mandir=$(prefix)/share/man

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/sourcelines $(DESTDIR)$(bindir)/sourcelines
	install -Dm644 build/sourcelines.1 $(DESTDIR)$(mandir)/man1/sourcelines.1

# Build the Meson source tarball once and reuse it for dpkg-source
override_dh_buildsource:
	[ -d debian/meson-build ] || meson setup debian/meson-build
	meson compile -C debian/meson-build tarball
	
